solDeudasWeb/src/main/schema/getAfiliadoRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://afphabitat.cl/soap/afiliado" xmlns:afi="http://afphabitat.cl/soap/afiliado">
  <xsd:element name="rut" type="xsd:int">
  </xsd:element>
  <xsd:element name="dv" type="xsd:string">
  </xsd:element>
  <xsd:element name="getAfiliadoRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="afi:rut"/>
        <xsd:element ref="afi:dv"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>